.profile {
  max-width: 880px;
  margin: 40px auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

@media screen and (max-width: 918px) {
  .profile {
    padding: 0 19px;
  }
}