.auth__input {
  margin: 0;
  padding: 0;
  border: none;
  border-bottom: 2px solid #CCCCCC;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  min-height: 33px;
  width: 100%;
  color: #CCCCCC;
  background-color: inherit;
}

.auth__input:focus {
  outline: none;
}